
html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}
.ad-banner {
    width: 100%;
    margin: 0; /* Elimina márgenes */
    padding: 0; /* Elimina paddings */
}

.ad-banner img {
    width: 100%;  /* Asegura que la imagen cubra todo el ancho */
    height: auto; /* Mantiene la proporción del SVG */
    display: block; /* Evita el espacio debajo de la imagen */
}
/* Estilo del header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000; /* Color del header */
}



header .logo-container {
    display: flex;
    align-items: center;
}

header .logo-container img {
    height: 200px; /* Tamaño del logo */
    margin-right: 10px;
}

header .logo-container h1 {
    color: white;
}

header nav {
    flex-grow: 1;
    text-align: right;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white; /* Color de los enlaces */
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header .logo-container {
        flex-direction: column; /* Cambia la dirección a columna */
        align-items: center; /* Centra la imagen y el título horizontalmente */
    }

    header .logo-container img {
        margin-right: 0; /* Elimina el margen derecho */
        padding: 0;
    }

    header h1 {
        text-align: center; /* Centra el texto del título */
    }

    header nav {
        width: 100%;
        text-align: left;
    }

    header nav ul {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    header nav ul li {
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
    }

    header nav ul li a {
        width: 100%;
        padding: 10px 0;
        display: block;
        text-align: center;
        background-color: #000; /* Fondo del enlace */
        color: white; /* Color del texto */
    }
}

/* Sección Hero */
.hero {
    background: linear-gradient(to bottom, #4a0f5c, #8055ca, #ae76c8); /* Gradiente de fondo */
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.hero button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: block;
    margin: auto;
}

.hero button:hover {
    background-color: #333;
    transform: translateY(-3px);
}

/* Sección de Información */
.info-section {
    background: url(../imagenes/Arrecho.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #333;
    padding: 60px 20px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Suaviza la transición entre secciones */
}

.info-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: white;
}
#pinfo{
    color: white;
}
.info-section p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.info-section .features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info-section .feature {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco translúcido */
    padding: 20px;
    margin: 10px;
    width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px; /* Bordes redondeados */
    transition: transform 0.3s ease; /* Suaviza la animación */
}

.info-section .feature:hover {
    transform: translateY(-5px); /* Le da un pequeño efecto de levantamiento */
}

.info-section .feature h3 {
    color: #8055CA;
    margin-bottom: 10px;
}

.info-section .feature p {
    text-align:left;
    font-size: 16px;
}

/* Estilo del footer */
footer {
    background: black;
    color: white;
    padding: 10px 0px;
    text-align: center;
    width: 100%;
}

.redes-sociales {
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes-sociales a {
    color: white;
    font-size: 30px;
    margin: 0 15px;
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s ease, transform 0.3s ease;
}

.redes-sociales a:hover {
    color: #8055CA; /* Color al pasar el cursor */
    transform: scale(1.2); /* Efecto de ampliación al pasar el cursor */
}

.legal {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el botón y el contenido en el centro */
    margin-top: 20px;
}

#legal-button {
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#legal-button i {
    margin-left: 10px; /* Espacio entre el texto y la flecha */
}

#legal-button:hover {
    background-color: #333;
    transform: translateY(-3px);
}

/* Contenido oculto del menú desplegable */
#legal-content {
    display: none;
    margin-top: 10px;
    color: white;
    font-size: 14px;
}

#legal-content p {
    margin: 5px 0;
}

/* Mostrar contenido cuando el botón es presionado */
#legal-content.show {
    display: block;
}